.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  background: var(--background-menu);
  color: rgb(206, 200, 200);
}

.center {
  text-align: center;
  width: 40%;
  height: 100%;
  font-size: 36px;
}
